<div class="everything">
    <!-- <img class="testing" src="assets/images/1200px-LGPE_Kanto_Map.png" alt="kanto region map via Bulbapedia"> -->
    <div class="opaque">
      <div class="centered">
      </div>
        <div class="displayTable">
          <div class="displayTableCell">
            <div class="forgotPassword">
                <h2>Hey you dumb fuck, how'd you forget your password?!</h2>
            </div>
            <div class="redirectToLogin">
                <span
                  ><span
                    class="redirect"
                    routerLink="/landing-page"
                  >
                    Return to Login</span
                  ></span
                >
              </div>
          </div>
        </div>
        
        <!-- <app-sign-up></app-sign-up> -->
       
      </div>
    
    
  </div>
  