<div class="gameboard">
    
    <mat-list class="players">
        <mat-list>
            <mat-list-item class="player-card">
                <img matListItemAvatar src="assets/images/jessie.png">
                <span matListItemTitle> Player 1 </span>
            </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item class="player-card">
                <img matListItemAvatar src="assets/images/mom.png">
                <span matListItemTitle> Player 2 </span>
            </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item class="player-card">
                <img matListItemAvatar src="assets/images/misty.png">
                <span matListItemTitle> Player 3 </span>
            </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item class="player-card">
                <img matListItemAvatar src="assets/images/ash.png">
                <span matListItemTitle> Player 4 </span>
            </mat-list-item>
        </mat-list>
    </mat-list>
</div>