body {
    margin: 0;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(228,238,238);
    background: linear-gradient(234deg, rgba(228,238,238,0) 0%, rgba(255,88,84,0.9710477941176471) 100%);
    min-height: 100vh;
    min-width: 1170px;
}

.gameboard {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/images/board.png);
    width: 1100px;
    height: 790px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 10px;
}

.player-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 170px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.matching-area {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 80px 185px 60px;
}

.matching-cards {
    height: 151px;
    width: auto;
    margin: 16px 20px 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}