<div class="page-container">
    <div class="gameboard">
        <mat-list class="players">
            <mat-list>
                <mat-list-item class="player-card">
                    <img matListItemAvatar src="assets/images/jessie.png">
                    <span matListItemTitle> Player 1 </span>
                    <span matListItemLine>Matches: #</span>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item class="player-card">
                    <img matListItemAvatar src="assets/images/mom.png">
                    <span matListItemTitle> Player 2 </span>
                    <span matListItemLine>Matches: #</span>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item class="player-card">
                    <img matListItemAvatar src="assets/images/misty.png">
                    <span matListItemTitle> Player 3 </span>
                    <span matListItemLine>Matches: #</span>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item class="player-card">
                    <img matListItemAvatar src="assets/images/default.png">
                    <span matListItemTitle> Player 4 </span>
                    <span matListItemLine>Matches: #</span>
                </mat-list-item>
            </mat-list>
        </mat-list>
    </div>
</div>