<mat-toolbar class="profile-header">
    <p class="header-text">Game Setup</p>
</mat-toolbar>
<div class="profile-card-centering">
  <form [formGroup]="form">
    <mat-card class="profile-card">
      <mat-card-content class="card-image-container">
        <p>select players</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>Select Deck</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="pokeTypes">
          <div class="radiogroup" *ngFor="let deck of deckControls">
            <mat-radio-button value={{deck.value.type}}>{{deck.value.type | uppercase}}</mat-radio-button>
            <img src={{deck.value.img}} alt="">
          </div>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  </form>
</div>


<button mat-raised-button color="primary" >Start game</button>
