<mat-toolbar class="profile-header">
    <p class="header-text">Game Setup</p>
</mat-toolbar>
<div class="profile-card-centering">
  <form [formGroup]="form">
    <mat-card class="profile-card">
      <mat-card-content class="card-image-container">

        <div formArrayName="selects">
          <div *ngFor="let select of playerSelects.controls; let i = index">
            <mat-form-field>
              <mat-label>Select an option</mat-label>
              <mat-select formControlName="selectedOption">
                <mat-option *ngFor="let option of playerOptions.controls" [value]="option.value.value">
                  {{ option.value.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
      </mat-card-content>
      <button mat-raised-button color="primary" (click)="addPlayerSelect()">
        <mat-icon aria-hidden="false" aria-label="add circle icon" fontIcon="add_circle"></mat-icon> Add player
      </button>
    </mat-card>

    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>Select Deck</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="pokeTypes">
          <div class="radiogroup" *ngFor="let deck of deckControls">
            <mat-radio-button value={{deck.value.type}}>{{deck.value.type | uppercase}}</mat-radio-button>
            <img src={{deck.value.img}} alt="">
          </div>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  </form>
  <button mat-raised-button color="primary" (click)="startTheGame()">
    <mat-icon aria-hidden="false" aria-label="add circle icon" fontIcon="play_circle"></mat-icon> Start game
  </button>
</div>


