<div class="everything">
  <!-- <img class="testing" src="assets/images/1200px-LGPE_Kanto_Map.png" alt="kanto region map via Bulbapedia"> -->
  <div class="opaque">
    <div class="centered">
    </div>
      <div class="displayTable">
        <div class="displayTableCell">
          <div class="redirectToLogin">
            <div class="sign-up">
              <div >
                <mat-form-field class="fillOutForm">
                <!-- <label>Name</label> -->
                <input matInput placeholder="First Name" #firstName label="firstName">
              </mat-form-field>
              <mat-form-field class="fillOutForm">
                <!-- <label>Name</label> -->
                <input matInput placeholder="Last Name" #lastName label="lastName">
              </mat-form-field>
              <mat-form-field class="fillOutForm">
                <!-- <label>Name</label> -->
                <input matInput placeholder="Player Name" #playerName label="playerName">
              </mat-form-field>
              <mat-form-field class="fillOutForm">
                <!-- <label>Email</label> -->
                <input matInput placeholder="you@email.com" #userEmail label="Email">
              </mat-form-field>
              <mat-form-field class="fillOutForm">
                <!-- <label>Password</label> -->
                <input matInput placeholder="password" #userPassword label="Password">
              </mat-form-field>
              </div>
              <button type="button" (click)="signUp(userEmail.value, userPassword.value, firstName.value, lastName.value, '../../../assets/images/avatars/ash.png', playerName.value)">
                Submit
              </button>
              
            </div>
            
            <div class="returnToLogin">
              <span
                ><span
                  class="redirect"
                  routerLink="/landing-page"
                >
                  Return to Login</span
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    

