<mat-toolbar class="profile-header">
    <p class="header-text">Choose An Avatar</p>
</mat-toolbar>
<div class="profile-card-centering">
    <form [formGroup]="form">
      <mat-card class="profile-card">
        <mat-card-content>
          <mat-radio-group class="avatars">
            <div class="radiogroup" *ngFor="let avatar of avatarControls">
              <mat-radio-button value={{avatar.value.type}}>{{avatar.value.type | uppercase}}</mat-radio-button>
              <img src={{avatar.value.img}} alt="" class="avatar-image">
            </div>
          </mat-radio-group>
        </mat-card-content>
        <button>
            confirm
        </button>
      </mat-card>
    </form>
  </div>
  