.profile-header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 69;
}

.header-text {
    font-size: 1.5em;
}

.profile-background {
    background-image: url(../../../assets/images/cardBack.png);
    background-repeat: repeat;
    background-attachment: fixed;
    padding-bottom: 20%;
}

.profile-card-centering {
    display: flex;
    justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 0%;
    margin: 1em;
    width: 70%;
    height: 20%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mat-mdc-card-content:first-child {
    padding: 0px;
}

.card-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    position: relative;
}

.edit-button {
    position: absolute;
    top: 2vw;
    right: 1vw;
    z-index: 42;
    height: 4vw;
    width: 4.25vw
}

.card-image {
    border-radius: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    height: 75%;
    width: 80%;
    align-self: center;
}

.mat-divider.mat-divider-vertical {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgba(50, 50, 93, 0.25);
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.mdc-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
}

.profile-info .mdc-list-item__primary-text {
    font-size: 25px;
    padding-bottom: 2.5%;
}

.profile-info .mdc-list-item__secondary-text {
    font-size: 22px;
}

.set-up-game-button {
    display: flex;
    justify-content: center;
}

.data-header {
    text-align: center;
    padding-top: 5%;
    font-size: 2em;
}

.center-divider {
    margin-right: 10%;
    margin-left: 10%;
}

.data-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.data-card {
    display: flex;
    width: 23%;
    margin: 1%;
    padding: .5%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.mat-mdc-card-content:last-child {
    padding: 0px;
}

.data-card-image {
    display: flex;
    height: 100%;
}

.data-card-text {
    align-self: center;
    padding: 0px;
    margin-top: .35%;
}

.player-list-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    background: none;
}

.player-list-container {
    background-color: white;
    padding: 1% 5%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.player-list {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}